{% extends 'master.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-4 p-5 text-center">
    <div class="card">
      <div class="card-header">
        <strong>Welcome on my site</strong>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>This is backend</p>
            <p>This site is reupload because i want to build site with DRF+JS\react</p>
            <p>I want to build this site for learn and maybe in future this site can be usable.</p>
          <footer class="blockquote-footer">Someone <cite title="Source Title">who is not samrt</cite></footer>
        </blockquote>
      </div>
    </div>
</div>

<div class="text-center">
    <strong>Some urls</strong>
    <p>
        Profile view:<a href="https://kakedomi-backend.herokuapp.com/account/profile/kakego1/"> click</a>
    </p>
    <p>
        ToDo view:<a href="{% url 'todo:todo' %}"> click</a> /create, id/update, id/delete only visible for admin
    </p>
    <p>
        Change log view:<a href="{% url 'changelog:changelog' %}"> click</a> /create, id/update, id/delete only visible for admin
    </p>
    <p>
        Contact view:<a href="{% url 'contact:contact' %}"> click</a> /create, id/update, id/delete only visible for admin
    </p>
    <p>
        Contact messages view:<a href="{% url 'contact:contact_messages' %}"> click</a> /create, id/update, id/delete only visible for authenticated users
    </p>
</div>

{% endblock %}
